<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxc.oj.mapper.ContestMapper">

    <resultMap id="BaseResultMap" type="com.wxc.oj.model.po.Contest">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isPublic" column="is_public" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="hostId" column="host_id" jdbcType="BIGINT"/>
            <result property="canRegister" column="can_register" jdbcType="TINYINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        start_time,duration,status,
        is_public,created_time,updated_time,
        is_deleted,host_id,can_register
    </sql>
</mapper>
